.loginScreen {
  background-color: #000;
}

.loginScreen-main {
  position: relative;
  width: 100%;
  background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/24/74/zgeTuV.jpg");
  background-size: cover;
}

.iframe-video {
  height: 100vh;
}

.loginScreen-gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen-logo {
  position: absolute;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}

.loginScreen-button {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  color: white;
}

.loginScreen-body {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  color: white;
  z-index: 1;
  padding: 20px;
  text-align: center;
  width: 900px;
  left: 50%;
  margin-left: -450px;
}

.loginScreen-body > h1 {
  font-size: 4.5rem;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
}

.loginScreen-body > h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen-body > h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.loginScreen-inputContainer > form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginScreen-inputContainer > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 60%;
  max-width: 600px;
  border: none;
}

.loginScreen-inputContainer {
  margin-top: 20px;
}

.loginScreen-startButton {
  padding: 16px 40px;
  font-size: 1rem;
  background-color: #e50914;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.line {
  border: 3px solid #222;
  background-color: #222;
}

.loginScreen-row {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  gap: 20px;
}

.row-text-container > h1 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 4rem;

  margin-bottom: 10px;
}

.row-text-container1 > h1 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 4rem;
  max-width: 650px;
  margin-bottom: 10px;
}

.row-text-container {
  width: 50%;
}

.row-text-container1 {
  order: 1;
}

.row-text-container > p {
  font-weight: 400;
  font-size: 1.5rem;
  width: 80%;
}

.row-text-container1 > p {
  font-weight: 400;
  font-size: 1.5rem;
  width: 80%;
}

.row-image {
  height: 100%;
  z-index: 2;
}

.row-video2 {
  position: absolute;
  right: 120px;
  top: 41px;
  z-index: 0;
}
.row-image3 {
  height: 100%;
  z-index: 2;
  position: relative;
}

.row-video {
  position: absolute;
  right: 150px;
}

.row-video-image-container {
  position: relative;
}
.row-image1 {
  height: 100%;
  order: 0;
}
/* .loginScreen {
    width: 100%;
    background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/24/74/zgeTuV.jpg");
    background-size: cover;
}

.loginScreen-background{

} */
